<html >
<head>
    <title>Add Topic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>

</div>
<form method="post">
    <input type="text" name="topic" placeholder="Input name of topic">
    <button type="submit">Add topic</button>
</form>
<a href="/main">Go to main page</a>
</body>
</html>