<html>
<head>
<title>Main Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div>
    <form method="get" action="/addTopic">
        <button type="submit">Add topic</button>
    </form>

    <form method="get" action="/topics">
        <button type="submit">Get all topics</button>
    </form>

    <form method="get" action="/addInquiry">
        <button type="submit">Add inquiry</button>
    </form>

    <form method="get" action="/linkCustomerInquiries">
        <button type="submit">Get customer inquiries</button>
    </form>

    <form method="get" action="/linkDeleteInquiry">
        <button type="submit">Delete Inquiry</button>
    </form>
</div>


</body>
</html>